# wildcard patterns
*~
*.gmo
*.l[ao]
*.mk
*.o
*.pot
.deps/
.libs/
Makefile
Makefile.in
stamp-*

# /
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/nbproject/
/libtool
/network-traffic-*.tar.*

# m4/
/m4/intltool.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4

# po/
/po/Makefile.in.in
/po/POTFILES

# src/
/src/network-traffic

# tests/
/tests/list-interfaces/list-interfaces
