*.a
*.gmo
*.o
.deps
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
intltool-extract.in
intltool-merge.in
intltool-update.in
nbproject
Makefile*
po/POTFILES
po/stamp-it
src/network-traffic
stamp-h1
