*.a
*.gmo
*.o
.deps
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
Makefile*
missing
po/POTFILES
po/stamp-it
src/c_file_parse
stamp-h1
